@import "tailwindcss";

@layer base{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  html{
    scroll-behavior: smooth;
  }
}