@import "tailwindcss";

@layer base{
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    color: white;
    background-color: black;
    font-family: "Inter", sans-serif;
  }

  html{
    scroll-behavior: smooth;
  }
}

@layer utilities{
  .text-gradient{
    background: linear-gradient(135deg, rgb(37 99 235) 0%, rgb(249 115 22) 100%);
      -webkit-backdrop-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
  }
}